* {
  box-sizing: border-box;
}

.clearfix:after {
	display: table;
	clear: both;
	content: "";
}

body{
	font-family: 'Lato', sans-serif;
	padding: 45px;
	border: solid #D2D2D2 5px;
}

#section{
	width: 75%;
	float: left;
	padding: 25px;
}
aside {
	width: 25%;
	float: left;
}

header {
	width: 100%;
	align-content: center;
	display: inline-block;
}

#head {
	font-size: 45px;
	display: inline;
	margin: 10px;
}

h1 a{
	color: #F9D483;
	text-decoration: none;
	display: inline;
}

header h2 {
	display: inline;
	color: #D2D2D2;
}

header nav {
	clear: both;
	width: 100%;
}

header nav a {
	color: #FFFFFF;
	font-size: 32px;
	text-decoration: none;
	padding: 25px;
	background-color: #B0B6BB;
	margin-top: 5px
	margin-right: 1px;
	display: inline-block;
    text-align: center;
    width: 16.333333%;
}

h3{
	color: #D2D2D2;
	font-size: 37px;
	margin-bottom: 1px;
	padding: none;
}

h2 a{
	color: #444444;
	text-decoration: none;
	font-size: 32px;
	margin-top: 1px;
	padding: none;
}

#section img {
	width: 100%;
}

article p::first-letter {
	color:#D2D2D2 ;
    float:left;
    line-height: 75%;
    padding:10px;
    font-size:100px;
}

p {
	color: #444444;
	font-size: 20px;
}

h4 a{
	color: #F9D483;
	text-decoration: none;
	font-size: 25px;
}
h4 {
	text-align: right;
}

hr {
	border: 0;
	width: 100%;
	color: #D2D2D2;
	background-color: #D2D2D2;
	height: 1px;
}


aside h4 {
	font-size: 28px;
	text-align: left;
	color: #888888;
}

aside p {
	color: #B0B6BB;
}

.more a {
	color: #F9D483;
	font-weight: bold;
	text-decoration: none;
	align-content: right;
	font-size: 28px;
}

.module_ad img {
	display: block;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.module h4 {
	color: #888888;
	font-size: 28px;
}

.module a {
	text-decoration: none;
	color: #F9D483;
	font-size: 18px;
	font-weight: bold;
}

.module p {
	color: #444444;
}


footer {
	display: block;
	width: 100%;
}

footer nav a {
	display: inline; 
	border-left: 2px solid;
	border-color: #D2D2D2;
	padding-left: 0.3em;
	padding-right: 0.15em;
	color: #F9D483;
	font-size: 20px;
	text-decoration: none;
	background-color: none;
	font-weight: bold;
}

#first { 
	border-left: none; 
	padding-left: 0; 
}

#copywrite {
	display: block;
	margin-top: 30px;
	color: #D2D2D2;
	font-size: 18px;
}