* {
  box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	padding: 45px;
}

#section{
	width: 75%;
	float: left;
	padding: 25px;
}
aside {
	width: 25%;
	float: left;
}

h2 {
	color: #D2D2D2;
	display: inline;
}

h1 a{
	color: #F9D483;
	text-decoration: none;
	display: inline;
}

#head {
	font-size: 45px;
	display: inline;
	margin: 10px;
}
header h2 {
	display: inline;
}

header nav a {
	color: #FFFFFF;
	font-size: 30px;
	text-decoration: none;
	padding: 10px;
	background-color: #D2D2D2;
	margin-top: 5px
	margin-right: 1px;
	display: inline-block;
}

h3{
	color: #D2D2D2;
	font-size: 37px;
}

h2 a{
	color: #444444;
	text-decoration: none;
	font-size: 40px;
}

p {
	color: #444444;
	font-size: 20px;
}

h4 a{
	color: #F9D483;
	text-decoration: none;
	font-size: 25px;
}
h4 {
	text-align: right;
}

hr {
	border: 0;
	width: 100%;
	color: #D2D2D2;
	background-color: #D2D2D2;
	height: 1px;
}

img {
	max-width: 100%;
}

footer {
	display: block;
}

.bottom{
	display: inline; 
	border-left: 2px solid;
	border-color: #D2D2D2;
	padding-left: 0.3em;
	padding-right: 0.15em;
	color: #F9D483;
	font-size: 20px;
	text-decoration: none;
	background-color: none;
}

#first { 
	border-left: none; 
	padding-left: 0; 
}